/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* De body is 1200 px breed.*/

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    font-weight: bold;
    display: flex;
    align-items: baseline;
}

.edhub {
    margin-left: auto;
}

.three {
    font-weight: bold;
    display: flex;
    align-items: baseline;
}

.three ul {
    list-style-type: none;
    display: flex;
}

ul li{
    padding: 20px;
}

.edhub2 {
    margin-left: auto;
}

.formbox {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.five {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

article {
    flex-basis: 350px;
    flex-grow: 1;
    flex-shrink:0;
    flex-wrap: wrap;
}


